#card-container-login {
    width: 55%;
    margin-left: 22.5%;
    padding: 0 2rem;
    margin-top: 40px;
}

.auth-button {
    background-color: "#343a40";
}

.auth-button:hover {
    background-color: #5c636a;
}